.vscode/**
.testBin/**
**/*.ts
**/*.map
**/node_modules
**/_test
.gitignore
.vsixmanifest
**/tslint.json
**/tsconfig.json
**/*webpack.config.json
**/*.md
!readme.md
.travis.yml
*.cmd

client/**
!client/node_modules/**
!client/out/**/*.js

server/**
!server/node_modules/**
!server/out/**/*.js
!server/out/**/*.json