.vscode/**
.testBin/**
**/*.ts
**/*.map
**/node_modules
**/test/**
.gitignore
.vsixmanifest
**/tslint.json
**/tsconfig.json
**/tsconfig.base.json
contributing.md
poll.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!server/node_modules/**
