.vscode/**
.testBin/**
**/*.ts
**/*.map
**/node_modules
**/_test
.gitignore
.vsixmanifest
**/tslint.json
**/tsconfig.json
**/*.config.json
**/*.md
!readme.md
.travis.yml
*.cmd

client/**
!client/out/extension.js

server/**
!server/out/server.js